<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-
Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>All brands</title>
</head>
<body>
<div class="panel-heading">
    <h2 class="panel-title">Artists</h2>
</div>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
        <th>ID</th>
        <th>brandName</th>
        <th>Level</th>
        <th>Actions</th>
        </thead>
        <tr th:each="brand : ${brands}">
            <td th:text="${brand.id}">4</td>
            <td th:text="${brand.brandName}">Marshall</td>
            <td th:text="${brand.brandLevel}">Eminem</td>
            <td>
                <a href="#" th:href="@{'/brand/' + ${brand.id} + '/show'}" style="margin-right: 5px;">View</a>
                <a href="#" th:href="@{'/brand/' + ${brand.id} + '/carModels'}" style="margin-right: 5px;">Car Models</a>
                <a href="#" th:href="@{'/brand/' + ${brand.id} + '/delete'}" style="margin-right: 5px;">Delete</a>
            </td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-5">
        <div>
            <a href="#" th:href="@{'/'}" role="button" class="btn btn-warning">Back to menu</a>
            <a href="#" th:href="@{'/brand/new'}" role="button" class="btn btn-success">Add</a>
        </div>
    </div>
</div>
</body>
</html>