<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-
Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Samochody</title>
</head>
<body>
<div class="col-md-3">
    <h2>Concerns</h2>
    <p>Concern that own car brands</p>
    <ul>
        <li><a href="#" th:href="@{'/concern/list'}" style="margin-right: 5px;">List</a>all concerns</li>
        <li><a href="#" th:href="@{'/concern/new'}" style="margin-right: 5px;">Add new</a>concern</li>
    </ul>
    <p><a class="btn btn-default" href="#" role="button" th:href="@{'/concerns/'}" >All Concerns &raquo;</a></p>
</div>
<div class="col-md-3">
    <h2>Brands</h2>
    <p>Your car brands</p>
    <ul>
        <li><a href="#" th:href="@{'/brand/list'}" style="margin-right: 5px;">List</a>all of your brands</li>
        <li><a href="#" th:href="@{'/brand/new'}" style="margin-right: 5px;">Add new</a>brand</li>
    </ul>
    <p><a class="btn btn-default" href="#" role="button" th:href="@{'/brands/'}" >All Brands &raquo;</a></p>
</div>
<div class="col-md-3">
    <h2>CarModels</h2>
    <p>Your car models
    <ul>
        <li><a href="#" th:href="@{'/carModel/list'}" style="margin-right: 5px;">List</a>all of your cars</li>
        <li><a href="#" th:href="@{'/carModel/new'}" style="margin-right: 5px;">Add new</a>carModel</li>
    </ul>
    <p><a class="btn btn-default" href="#" role="button" th:href="@{'/carModels/'}" >All Cars &raquo;</a></p>
</div>
<div class="col-md-3">
    <h2>EngineTypes</h2>
    <p>Your engine type
    <ul>
        <li><a href="#" th:href="@{'/engineType/list'}" style="margin-right: 5px;">List</a>all of your engines</li>
        <li><a href="#" th:href="@{'/engineType/new'}" style="margin-right: 5px;">Add new</a>engineType</li>
    </ul>
    <p><a class="btn btn-default" href="#" role="button" th:href="@{'/engineTypes/'}" >All Engines &raquo;</a></p>
</div>
</body>
</html>